@page
@model MonsterHunterInventory.Pages.InventoryModel
@{

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>New Age - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="img/logo_home.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->

    <link href="css/inventory.css" rel="stylesheet" />

</head>

<body class="container-fluid" style="text-align: left;">
   
    <div class="row">

        <div class="col-2" style="padding-top: 50px;">
            <a class="bn31" id="artificial" style=" height: 150px; margin-bottom: 100px; margin-left: 100px;"><span class="bn31span">Artificial</span></a>

            <a class="bn31" id="creatures" style="height: 150px; margin-bottom: 100px; margin-left: 100px; "><span class="bn31span">Creatures</span></a>

            <a class="bn31" id="elixirs" style="height: 150px; margin-bottom: 100px; margin-left: 100px; "><span class="bn31span">Elixirs</span></a>

            <a class="bn31" id="herbs" style="height: 150px; margin-bottom: 100px; margin-left: 100px; "><span class="bn31span">Herbs</span></a>

            <a class="bn31" id="insects" style="height: 150px; margin-bottom: 100px; margin-left: 100px; "><span class="bn31span">Insects</span></a>

            <a class="bn31" id="seeds" style="height: 150px; margin-bottom: 100px; margin-left: 100px; "><span class="bn31span">Seeds</span></a>

        </div>
            <div class="col-4">

                <div class="container-1 container-fluid">


                    @foreach (var item in Model.allItems)
                    {


                        
                            <div class="card">
                                <img src="@item.ImageURL" />
                            </div>
                        


                    }


                </div>
            </div>




            <div class="col-4">
                <div class="container-2 container-fluid">

                    <div id="myDIV">
                        @foreach (var item in Model.allItems)
                        {
                            <div class="card-body" style="margin: 20px; padding: 50px; color: white; width: 700px; height: 700px; background-color: black;">

                                <div class="hero-text">
                                    <h1 style="font-size:50px">@item.Name</h1>
                                </div>
                                <h1>Category:</h1>
                                <h2 class="card-title">@item.ItemType</h2>
                                <h1>Item Type:</h1>
                                <h2 class="card-title">@item.GroupType</h2>
                                <h6 class="card-title">@item.Description</h6>
                                <h1>Amount:</h1>
                                <p class="card-text">@item.count</p>

                                <form method="post" asp-page-handler="update">
                                    <input class="form-control" name="count" value="@item.Count" type="number" min="0" step="1" />
                                    <input type="hidden" name="name" value="@item.Name" />
                                    <button class="btn btn-outline-primary">Update</button>
                                </form>
                            </div>
                        }
                    </div>


                </div>


            </div>
        </div>
   


        @*@foreach (var item in Model.allItems)
        {


            <div class="card" style="width: 50px;">
                <div class="card-img-top" src="@item.ImageURL" alt="Card Image Cap"></div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="card-img-top" src="@item.ImageURL" alt="Card Image Cap"></div>
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-title">@item.ItemType</h6>
                    <h6 class="card-title">@item.GroupType</h6>
                    <p class="card-text">@item.count</p>

                </div>
            </div>

        }*@

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>


        <!-- Template Javascript -->
        <script src="js/site.js"></script>

        <script>$(function () {
                $('.container-2').hide();
                $('.container-3').hide();

    $("#artificial").add("#creatures").add("#herbs").add("#insects").add("#seeds").click(function () {
                    $('.container-2').fadeTo(500, 1);
                    $('.container-1').hide();
                    $('.container-3').hide();
                });

    $("#creatures").click(function () {
                    $('.container-1').fadeTo(500, 1);
                    $('.container-2').hide();
                    $('.container-3').hide();
                });

    $("#herbs").click(function () {
                    $('.container-3').fadeTo(500, 1);
                    $('.container-2').hide();
                    $('.container-1').hide();
                });
            });</script>

        <style>
            .card-body {
                margin: 0;
                padding: 15px;
                color: white;
                width: 100%;
                height: 200px;
                background-color: black;
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <script src="js/index.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>