@page
@model MonsterHunterInventory.Pages.InventoryModel
@{ }

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Home</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>New Age - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="img/logo_home.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />

    <link rel="icon" type="../img/logo_home.png" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
</head>

<body style="background-color: black; text-align: left; padding-top: -1.5rem;">

    <div class="row">
        <div class="col-2" style="padding-top: 150px;">
            <a class="bn31" id="homebase" style=" height: 150px; margin-bottom: 100px; margin-left: 100px;"><span class="bn31span">Home Base</span></a>

            <a class="bn31" id="pouch" style="height: 150px; margin-bottom: 100px; margin-left: 100px; "><span class="bn31span">Pouch</span></a>

            <a class="bn31" id="bunker" style="height: 150px; margin-bottom: 100px; margin-left: 100px; "><span class="bn31span">Bunker</span></a>


        </div>
        <div class="col-6 offset-1">

            <div class="mb-5 mb-lg-0 text-center text-lg-center">
                <p class="center fw-normalmb-5" style="color:white;">
                    Monster Hunter World"
                </p>

                <div class="container-1 container-fluid">
                    <h1 class="display-1 lh-1 mb-3" style="color:white;">Homebase</h1>
                    <p class="lead fw-normalmb-5" style="color:white;">Join the hunt across the world!</p>
                    <img src="img/homebase_map.jpg" alt="Home Base" style="width:100%; height: 500px;" />
                    <p class="lead fw-normalmb-2 " style="color: white; font-size: 25px; padding-top: 5rem; justify-content: left;">
                        Home Base is a Location in Monster Hunter World (MHW). Different areas of the game have a different look and feel, map and special unique monsters that spawn within them.
                        <br>
                        <br>

                        Home Base is a village in the New World. Working as the Research Commission's base of operations: where hunters, researchers, and technicians have all gathered. The player can use a lift to quickly reach a set of areas.
                        <br>
                        <br>
                        Most of the Quests assigned as part of the Story will come from various characters in Home Base. In addition, these characters often provide services to Hunters such as Equipment crafting or Item provisioning.
                        <br>
                        <br>

                        About Home Base
                        <br>
                        <br>
                        With the Guild at it's core, the Research Commission was formed in order to solve the mystery of the Elder Crossings. The base of their research activities is here in Home Base It has been forty years since the First Fleet arrived and established this as a major stronghold, which was built by the hands, skills, efforts, and labor of many people.
                        <br>
                        <br>
                        The First Fleet was deployed in pursuit of Kushala Daora. During a storm, the crew had a chance encounter with a mysterious Elder Dragon. The ship was split and tossed on top of a cliff, but it still eventually became a foothold for research projects. What's more, the waterfall flowing right below it turned out to be a stroke of good luck for the First Fleet.
                        The First Fleet found it difficult to secure enough resources to upgrade their base at first and expanded the base by recycling their ship. They had no choice but to wait for further deployments to do any full-scale work, however, so they poured their efforts into reinforcing the ship atop the cliff.
                        <br>
                        <br>


                        Home Base NPCs
                        <br>
                        <br>
                        Main NPCs:
                        <br>
                        <br>
                        Commander, chief of operations in Home Base and the New World
                        Handler, the player helper, handing out Quests and meals
                        Field Team Leader, asked to help the player accomodate to the New World by the Commander
                        The Huntsman, mysterious but courageous veteran hunter
                        Meowscular Chef, chef of the Canteen, will often send the player after new ingredients
                        Second Fleet Master, lead the Smithy team taking care of anything related to the player equipment
                        The Seeker, a mysterious hooded man who helps the player during an early Quest
                        Admiral, the only person with more power than the Commander, often leaving the camp for long investigations
                        Other NPCs:
                        <br>
                        <br>
                        Members of the Resource Center, where Hunters can register Bounties, manage Investigations, and complete Deliveries.
                        This Includes:
                        Provisions Manager
                        Tech Chief
                        Analytics Director
                        Members of Ecological Research, including:
                        Smart Biologist
                        Lynian Researcher
                        Chief Ecologist
                        Members of Botanical Research, including:
                        Chief Botanist, who manages plant and insect cultures for Hunters
                        Laid-back Botanist, who offers some optional Quests to improve the Botanical Research Center
                        Impatient Biologist
                        Provisions Stockpile, where Hunters can buy various Items
                        The Captain, riding the Argosy between the Old and New World, bringing back supplies
                        Elder Melder, melding Items, rare Monster materials, and Decorations for the player
                        Armory, where base Weapons and Armors are sold. Offers optional Quests for Specialized Tools. See Mantles for more information.
                        Poogie, a small cute pig that the player can befriend
                        Fish Aficionado
                        Forceful Fiver
                        Fun Fourth
                        Engaged Fiver
                        Occupied Fiver
                        Eager Fourth
                        Apple Enthusiast
                        Easygoing Fiver
                        Fiver Bro, eating all day and asking the player to do his work
                        Timid Fiver
                        Sisterly Fourth
                        Cool Fiver
                        Oven Felyne
                        Soup Felyne

                        <br>
                        <br>
                        Notes and Trivia
                        There are no monsters in the village of Home Base, but if a Hunter captures one out in the field the Ecological Research team will bring them back to study. In addition, Endemic Life can be captured and kept as Pets.
                        Constructed mainly by members of the Second Fleet, the lifts make it markedly easier to travel within headquarters and to transport goods. The lifts are made up if a hook, which constantly travels between the upper and lower levels, and a steel bar called an anchor, which is connected to the hook. Safety is the responsibility of the individual user.
                    </p>

                </div>

                <div class="container-2 container-fluid">
                    <h1 class="display-1 lh-1 mb-3" style="color:white;">Pouch</h1>
                    <p class="lead fw-normalmb-5" style="color:white;">Join the hunt across the world!</p>
                    <img src="img/pouch.jpg" alt="Pouch" style="width:100%; height: 500px;" />
                    <p class="lead fw-normalmb-2 " style="color: white; font-size: 25px; padding-top: 5rem; justify-content: left;">
                        Pouch is a Location in Monster Hunter World (MHW). Different areas of the game have a different look and feel, map and special unique monsters that spawn within them.
                        <br>
                        <br>


                        Pouch is a brand new location that has been shown in early gameplay videos. It is a lush and leafy setting full of monsters and resources to harvest. A vast forest that supports a complex ecosystem. A network of trees stretch high into the sky, creating the ancient tree that looms tall over the rest of the forest.
                        <br>
                        <br>
                        Pouch Quests
                        <br>
                        <br>
                        There are several quests that take you to this destination:
                        <br>
                        <br>
                        The Great Glutton
                        <br>
                        <br>
                        Endemic Life Researcher asks the player to capture a Woodland Pterix
                        Endemic Life Researcher asks the player to capture a Downy Crake
                        Piscine Researcher asks the player to catch a Pink Parexus
                        Lynian Researcher asks the player to find the Grimalkynes Camp
                        <br>
                        <br>

                        Pouch Monsters
                        <br>
                        <br>
                        The Monsters that inhabit the Pouch are:
                        <br>
                        <br>
                        Small Monsters in Pouch
                        <br>
                        <br>
                        Aptonoth
                        Jagras
                        Kestodon
                        Mernos
                        Mosswine
                        Vespoid
                        Gajau
                        Gajalaka
                        Grimalkyne
                        Large Monsters in Pouch
                        <br>
                        <br>
                        Anjanath
                        Fulgur Anjanath
                        Banbaro
                        Bazelgeuse
                        Deviljho
                        Savage Deviljho
                        Ebony Odogaron
                        Glavenus
                        Great Jagras
                        Kulu-Ya-Ku
                        Kushala Daora
                        Leshen
                        Ancient Leshen
                        Nargacuga
                        Nightshade Paolumu
                        Pukei-Pukei
                        Rathian
                        Rathalos
                        Azure Rathalos
                        Tigrex
                        Tobi-Kadachi
                        Blackveil Vaal Hazak
                        Velkhana
                        Yian Garuga
                        Scarred Yian Garuga
                        Zinogre

                        <br>
                        <br>
                        Pouch Hazards & Materials
                        You will find the following Materials for harvesting in this area:
                        <br>
                        <br>
                        When the area is "Flourishing: Flower Beds", can harvest the Sunkissed Grass in sector 17
                        When area is "Flourishing: Mushrooms", can harvest the Moonlit Mushroom in sector 11
                        Herb
                        Sleep Herb
                        Ancient Bone
                        Monster Bone S
                        Iron Ore
                        Bitterbug
                        Antidote Herb
                        Brightmoss
                        Fire Herb
                        Flowfern
                        Godbug
                        Honey
                        Machalite Ore
                        Nulberry
                        Parashroom
                        Smokenaut
                        Wyvern Egg
                        Dragonite Ore
                        Mandragora
                        You will find the following Hazards:
                        <br>
                        <br>
                        Poison Cup (sector 6)
                        Flashfly (sector 15)
                        Sporepuff (sector 2, 6, 7, 14)
                        Wiggly Litchi (sector 4, 5, 11, 12, 14)
                        Vitalily (sector 1)
                        Paratoad (sector 5, 9)
                        Vine Floor (sector 13) - make the player lose its footing if a large monster hits it
                        Dam (sector 16) - can break under large monsters attacks, unleashing a torrent that can sweep the player and monsters
                        Suspended Boulders (sector 12)
                        Vine Trap (sector 4, 8, 15)
                        Pouch Trivia
                        First Wyverian statistics: Sector 7 is the most deadly with 49% of hunters dying here.


                    </p>
                </div>

                <div class="container-3 container-fluid">
                    <h1 class="display-1 lh-1 mb-3" style="color:white;">Bunker</h1>
                    <p class="lead fw-normalmb-5" style="color:white;">Join the hunt across the world!</p>
                    <img src="img/bunker.jpg" alt="Bunker" style="width:100%; height: 500px;" />
                    <p class="lead fw-normalmb-2 " style="color: white; font-size: 25px; padding-top: 5rem; justify-content: left;">
                        Bunker is a Location in Monster Hunter World (MHW). Different areas of the game have a different look and feel, map and special unique monsters that spawn within them.
                        <br>
                        <br>
                        In Iceborne Expansion, Smithy and Resource Center facilities will become available in the Bunker as you progress in the game.
                        <br>
                        <br>


                        Bunker is a wrecked airship of the Third Fleet, located somewhere around the Coral Highlands. With the help of the Hunter, the Research Commission uses it to reach the Rotten Vale. Once repaired, the Palicoes will use it as a base in preparation for their Safari.
                        <br>
                        <br>
                        Bunker Quests
                        There are several quests that start in this destination:

                        <br>
                        <br>
                        RRRRRumble in the Waste!
                        <br>
                        <br>

                        Bunker NPCs
                        NPCs in the Bunker are:
                        <br>
                        <br>
                        Main NPCs in Bunker
                        <br>
                        <br>
                        Third Fleet Master, commander of the Third Fleet
                        Handler, the player acolyte
                        The Tracker, an experimented woman spending her life studying the Rotten Vale and the Effluvium phenomenon
                        Other NPCs in Bunker
                        <br>
                        <br>
                        Airship Engineer, asks the player for help to make the airship fly again
                        Elder Melder, will move to Home Base to meld item for the player
                        Cheerful Scholar
                        Third Fleet Provisions, sell items to the player (Provisions Stockpile)
                        Lynian Expert, gives acces to the Tailraider Safari. If using her services instead of the housemaster, the player can see a cinematics at the start of each safari, with the different Palicoes.
                        Shy Scholar
                        If the player owns Guild Cards, randomly selected Palicoes from his friends will appear on the first level, it's possible to talk to them to learn more about their masters.
                        <br>
                        <br>

                        Bunker Information
                        <br>
                        <br>
                        The Bunker is located north of Home Base, at the end of a precipitous stretch of mountains called the Great Ravine. It is the Third Fleet's ship, but because it was converted into an airship, its interior structure was also modified. Here, Third Fleet scholars led by the Third Fleet Master carry out observations and research on the Rotten Vale.
                        <br>
                        <br>
                        After coming to Home Base, it was the Third Fleet Master's desire to go farther. Shortly after, their converted airship took flight, but they were attacked and shipwrecked. The Third Fleet was made up almost entirely of scholars, so they couldn't progress or retreat. Ever since, they have been there in a state of isolation, unable to return to Home Base these past twenty years.
                        <br>
                        <br>
                        The Coral Highlands and Rotten Vale are unique ecosystems. As luck would have it, the place where the airship was forced to land is near lands abundant with subjects for the scholars' research. The area around the crash site is difficult for large monsters to approach, so the scholars live in relative safety. They also do research on Lynians and melding here.
                        <br>
                        <br>
                        Notes
                        <br>
                        <br>
                        The ship was badly damaged in the accident twenty years ago, and the remaining bow of the ship is pointed downwards. As a consequence, simple staircases were built that connects landings to each other.
                        The lower level is a place where Palicoes wander around. At the direction of the Lynian Expert, they are deployed to investigate various locations.
                        In the upper level is the special set where the Third Fleet Master sits. Behind her is a gigantic incense burner. This burner and the other incense burnes placed here and there fill the interior of the ship with fragrances.

                    </p>
                </div>
            </div>
        </div>

        <div class="col-2 offset-1">



            @foreach (var item in Model.allItems)
            {

         
                @if (item.HomebaseCount != 0 && item.PouchCount != 0 && item.BunkerCount != 0)
                {
                    <div class="container" style=" position: relative;">
                        <div class="card" style="position: relative; background: #232323; border-radius: 20px; width: 100%; height: 350px;">
                          
                            <div class="contentBx" style=" position: absolute; bottom: 0; width: 100%; text-align: center; transition: 1s; z-index: 10;">
                                <h5 class="card-title" style=" position: relative; font-weight: 600; letter-spacing: 1px; color: #fff; margin: 0;">@item.Name</h5>
                                <div class="size">
                                    <h3 style="color: #fff; font-weight: 300; font-size: 14px; text-transform: uppercase; letter-spacing: 2px; margin-right: 10px;">Information :</h3>
                                    <h6 class="card-title" style="color: #fff; font-weight: 300; font-size: 14px; text-transform: uppercase; letter-spacing: 2px; margin-right: 10px;">@item.ItemType</h6>
                                    <h6 class="card-title" style="color: #fff; font-weight: 300; font-size: 14px; text-transform: uppercase; letter-spacing: 2px; margin-right: 10px;">@item.GroupType</h6>
                                </div>
                                <div class="color">
                                    <h3 style="color: #fff;">Count :</h3>
                                    <p class="homebase" style="color: #fff;">@item.HomebaseCount</p>
                                    <p class="pouch" style="color: #fff;">@item.PouchCount</p>
                                    <p class="bunker" style="color: #fff;">@item.BunkerCount</p>
                                </div>
                                <input style="color: #fff; font-weight: 300; font-size: 14px; text-transform: uppercase; letter-spacing: 2px; margin-right: 10px;" type="text" class="textBoxHome defaultTextBox" />
                            </div>
                        </div>
                    </div>
                }


            }

        </div>



    </div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>


    <script src="js/site.js"></script>

    <script>$(function () {
            $('.container-2').hide();
    $('.container-3').hide();
    $('.pouch').hide();
    $('.bunker').hide();

            $("#homebase").click(function () {
                $('.container-1').fadeTo(500, 1);
                $('.container-2').hide();
                $('.container-3').hide();
                $('.pouch').hide();
                $('.bunker').hide();
                $('.homebase').show();
            });

    $("#pouch").click(function () {
                $('.container-2').fadeTo(500, 1);
                $('.container-1').hide();
                $('.container-3').hide();
                $('.pouch').show();
                $('.bunker').hide();
                $('.homebase').hide();
            });

    $("#bunker").click(function () {
                $('.container-3').fadeTo(500, 1);
                $('.container-2').hide();
                $('.container-1').hide();
                $('.pouch').hide();
                $('.bunker').show();
                $('.homebase').hide();
            });
});
    </script>

</body>
</html>